* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.dashboard {
  background-color: #ffa500;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.dashboard h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  margin-top: 20px;
}

.book-card-link {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.book-card {
  background-color: #000;
  color: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 200px;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s; /* Add a hover effect */
}

.book-card:hover {
  transform: scale(1.05); /* Scale up on hover */
}

.book-card h2 {
  font-size: 1rem;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-card p {
  font-size: 0.8rem;
  color: #ccc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actions button {
  width: 20%;
  padding: 0.5rem 0; 
  border-radius: 5px; 
  border: none;
  color: #fff;
  transition: background-color 0.3s, transform 0.2s; 
}

/* Edit button styles */
.edit-button {
  background-color: #007bff; 
}

.edit-button:hover {
  background-color: #0056b3; 
  transform: translateY(-2px); 
}

/* Delete button styles */
.delete-button {
  background-color: #dc3545; 
}

.delete-button:hover {
  background-color: #c82333; 
  transform: translateY(-2px); 
}

.add-book-button {
  background-color: #333;
  color: #fff;
  padding: 0.625rem 1.25rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
}

.add-book-button:hover {
  background-color: #444;
}

.book-details-title {
  background-color: #ffa500; 
  padding: 10px; 
  border-radius: 5px; 
}

.book-details {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 60vh;
  background-color: #ffa500; 
  position: relative; /* Allow positioning of the button */
}

.book-details-card {
  background-color: #000; 
  color: #fff; 
  padding: 30px; 
  border-radius: 10px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); 
  max-width: 400px; 
  width: 100%; 
  text-align: left; 
  position: relative; /* Positioning for absolute children */
}

.book-details-card h2 {
  font-size: 1.5rem; 
  margin-bottom: 10px; 
}

.book-details-card p {
  font-size: 1rem; 
  color: #ccc; 
}

.back-button {
  position: absolute; /* Position it absolutely */
  top: 10px; /* Distance from the top */
  left: 10px; /* Distance from the left */
  background-color: #333; /* Button background color */
  color: #fff; /* Button text color */
  padding: 0.625rem 1.25rem; /* Padding for the button */
  border-radius: 10px; /* Rounded corners */
  border: none; /* No border */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Transition for hover effect */
}

.back-button:hover {
  background-color: #444; /* Darker color on hover */
}

.card-body {
  background-color: #ffa500;
}

.book-form-card {
  background-color: #000; 
  color: #fff; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); 
  max-width: 400px; 
  margin: auto; 
  text-align: left; 
}

.form-input {
  width: 100%; 
  padding: 10px; 
  margin-bottom: 10px; 
  border: none; 
  border-radius: 5px; 
  background-color: #fff; 
  color: #000; 
}

.submit-button {
  background-color: #ff4500; 
  color: #fff; 
  padding: 10px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 1rem; 
}

.submit-button:hover {
  background-color: #ff6347; 
}

.error-message {
  color: red; 
  margin-bottom: 10px; 
}

@media (max-width: 768px) {
  .dashboard h1 {
    font-size: 1.25rem;
  }

  .book-card {
    padding: 2rem; 
  }

  .book-card h2 {
    font-size: 0.9rem; 
  }

  .book-list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .add-book-button {
    font-size: 0.9rem; 
  }

  .book-details-card {
    max-width: 90%; 
  }

  .book-form-card {
    max-width: 90%; 
  }
}

@media (max-width: 480px) {
  .dashboard {
    padding: 15px; 
  }

  .book-card {
    padding: 1.5rem; 
  }

  .submit-button {
    padding: 0.625rem; 
    font-size: 0.9rem; 
  }

  .form-input {
    padding: 8px; 
  }
}
